---
const title = "954";
const text = "Last goal November 23 2025";
const longText = "Cristiano Ronaldo goals scored all time";

const LongTailKeywords = {
  one: "Ronaldo's goal scoring record",
  two: "how many goals has Ronaldo scored in his career"
};

---

  <section class="flex-none justify-center items-center text-center p-4 mt-20 md:mt-8
                  md:w-full md:items-end md:justify-end md:text-right">
    <h1 class="text-xl subtitle-enhanced mb-2">{LongTailKeywords.one}</h1>
    <div class="goal-counter-container mb-6">
      <h1 class="goal-counter text-7xl md:text-[12rem] font-black tracking-tight leading-none"
          aria-description={LongTailKeywords.two}>{title}</h1>
    </div>
    <p class="text-sm md:text-lg text-white-80 mb-2">{text}</p>
    <h3 class="description-enhanced text-sm pt-4 pb-0 font-medium
              md:text-4xl md:w-1/3 md:ml-auto">{longText}</h3>
  </section>