---
import '../styles/global.css';

import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import RoadSection from '../components/RoadSection.astro';
import CTASection from '../components/CTASection.astro';
import Footer from '../components/Footer.astro';

import { getImage } from "astro:assets"
import cover from "../assets/cover.png"

const optimizedBackgroundImage = await getImage({ src: cover })
const currentPage = {
  title: "Cristiano Ronaldo Goal Tracker: Live Updates & Career Stats",
  description: "Track Cristiano Ronaldo's journey to 1000 career goals! Get live updates on his current goal count, detailed stats by club and competition, and more!",
};

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{currentPage.title} | Road to 1000 Goals</title>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={currentPage.description}/>
		<!-- Schema Markup -->
		<script type="application/ld+json">
			{
				// Your JSON-LD schema markup goes here
			  	"@context": "https://schema.org",
				"@type": "WebPage",
				"name": "Cristiano Ronaldo Goal Tracker: Live Updates & Career Stats",
				"description": "Track Cristiano Ronaldo's journey to 1000 career goals! Get live updates on his current goal count, detailed stats by club and competition, and more.",
				"url": "https://www.roadto1000goals.com/",
				"mainEntity": {
					"@type": "Person",
					"name": "Cristiano Ronaldo",
					"alternateName": "CR7",
					"description": "Cristiano Ronaldo dos Santos Aveiro is a Portuguese professional footballer who plays as a forward for Al Nassr and the Portugal national team. He is widely regarded as one of the greatest footballers of all time.",
					"image": {
					"@type": "ImageObject",
					"url": "https://commons.wikimedia.org/w/index.php?curid=137935111",
					"caption": "Cristiano Ronaldo playing for Al Nassr FC"
					},
					"sameAs": [
					"https://en.wikipedia.org/wiki/Cristiano_Ronaldo",
					"https://www.instagram.com/cristiano/", 
					"https://www.youtube.com/@cristiano/videos" // Add other relevant social media profiles
					],
					"athlete": {
					"@type": "SportsTeam",
					"name": "Al Nassr FC",
					"sameAs": "https://en.wikipedia.org/wiki/Al_Nassr_FC"
					}
				},
				"potentialAction": {
					//"@type": "SearchAction",
					//"target": "https://www.roadto1000goals.com/search?q={search_term_string}", // Replace with your search URL if applicable
					//"query-input": "required name=search_term_string"
				}
			}
		  </script>

		<!-- Google tag (gtag.js) -->
		<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-K6DCEHCT55"></script>
		<script type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-K6DCEHCT55');
		</script>
	</head>
	<body class="bg-black bg-blend-overlay">
		<div class="h-screen flex flex-col justify-center items-center animate-fade-in
			bg-cover bg-[calc(50%-50vw)] md:bg-center" aria-label="Cr7 Portugal Jersey" 
			style={`background-image: url('${optimizedBackgroundImage.src}'); z-index: 0;`}>
			<!-- Your content here -->
			<Header />
			<HeroSection />
			<RoadSection />
			<CTASection />
			<Footer />
		</div>
		<div class="absolute inset-0 
			bg-[radial-gradient(circle_at_left,rgba(255,255,255,0.2)_0%,rgba(0,0,0,1)_60%)] blur-[20px] -z-10
			md:bg-[radial-gradient(circle_at_center,rgba(255,255,255,0.2)_0%,rgba(0,0,0,1)_60%)]">
		</div>
		<!-- Import the shrinkHeader script -->
		<script src="../scripts/shrinkHeader.js"></script>
	</body>
</html>